@import "variables/mockups";
@import "variables/global";

$maxContainer: 1920;
$minScreen: 320;

@mixin adaptive($property, $maxSize, $minSize) {
    $size: #{$minSize + px};
    $minScreenPx: #{$minScreen + px};

    #{$property}: calc($size + ($maxSize - $minSize) * ((100vw - $minScreenPx) / ($maxContainer - $minScreen)));
}

@mixin phones-xs {
    @media screen and (min-width: $xs) {
        @content;
    }
}

@mixin phones {
    @media screen and (min-width: $sm) {
        @content;
    }
}

@mixin phones-xl {
    @media screen and (min-width: $px) {
        @content;
    }
}

@mixin tablets {
    @media screen and (min-width: $md) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width: $lg) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $xl) {
        @content;
    }
}

@mixin desktop-xl {
    @media screen and (min-width: $xxl) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

@mixin flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin page-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

@mixin grid-center {
    display: grid;
    place-items: center;
}



@mixin background {
    &--gray-primary {
        background-color: var(--color-gray-primary);
    }

    &--gray-secondary {
        background-color: var(--color-gray-secondary);
    }

    &--black-light {
        background-color: var(--color-black-light);
    }

    &--black-dark {
        background-color: var(--color-black-dark);
    }

    &--violet-primary {
        background-color: var(--color-violet-primary);
    }

    &--violet-secondary {
        background-color: var(--color-violet-secondary);
    }

    &--white-bg {
        background-color: var(--color-white-bg);
    }

    &--black-bg {
        background-color: var(--color-black);
    }

    &--tiffany-blue {
        background-color: var(--color-tiffany-blue);
    }

    &--beet-pink {
        background-color: var(--color-beet-pink);
    }

    &--beige {
        background-color: var(--color-beige);
    }
}

@mixin color {
    &--gray-primary {
        color: var(--color-gray-primary);
    }

    &--gray-secondary {
        color: var(--color-gray-secondary);
    }

    &--black-light {
        color: var(--color-black-light);
    }

    &--black-dark {
        color: var(--color-black-dark);
    }

    &--violet-primary {
        color: var(--color-violet-primary);
    }

    &--violet-secondary {
        color: var(--color-violet-secondary);
    }

    &--white-bg {
        color: var(--color-white-bg);
    }

    &--black-bg {
        color: var(--color-black);
    }

    &--tiffany-blue {
        color: var(--color-tiffany-blue);
    }

    &--beet-pink {
        color: var(--color-beet-pink);
    }

    &--beige {
        color: var(--color-beige);
    }
}
