@import "@app/styles/mixins";

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100%;

  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background: var(--color-gray-primary);

    @include tablets {
      background: linear-gradient(91.65deg, #AFFC38 2.43%, #F6FD41 100%);
    }
  }

  .header__bottom {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 15px;
    margin: 20px 0 0;

    @include grid-center;
  }

  .header__logo {
    display: none;
    margin: 0 10px 0 0;

    @include adaptive('width', 150, 80);

    img {
      width: 100%
    }

    @include tablets {
      display: flex;
    }
  }

  .navigation__wrapper {
    display: none;

    @include tablets {
      display: flex;
      margin: 0 0 0 10px;
      width: 70%;
    }
  }

  .navigation__wrapper_seller {
    display: none;

    @include tablets {
      display: flex;
      margin: 0 0 0 20px;
    }
  }

  .sidebar__button {
    display: flex;
    cursor: pointer;
    margin: 0 0 0 -10px;

    @include tablets {
      display: none;
    }
  }

  .header__line {
    display: none;
    border: none;
    height: 1px;
    width: 90%;
    background: var(--color-black);

    @include laptop {
      display: block;
    }
  }
}

.navigateMenu {
  display: flex;
}
