@import "@app/styles/mixins";

.header__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;

    .header__top {
        @include flex-space;
        @include adaptive('gap', 16, 10);

        padding-block: 20px;
        padding-inline: 20px;
        width: 100%;
        background: var(--color-gray-primary);

        @include laptop {
            @include adaptive('padding-inline', 20, 10);

            background: none;
        }
    }

    .orders__link__wrapper {
        background: var(--color-gray-primary);
        padding: 25px;
        width: 100vw;
        position: relative;

        .orders__link {
            display: block;
            width: max-content;
            margin: 0 auto;
        }
    }

    .header__bottom {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 15px;
        margin: 20px 0 0;

        @include grid-center;
    }

    .header__logo {
        display: none;
        margin: 0 10px 0 0;

        @include adaptive('width', 150, 80);

        img {
            width: 100%
        }

        @include tablets {
            display: flex;
        }
    }

    .navigation__wrapper {
        display: none;

        @include laptop {
            display: flex;
            margin: 0 0 0 10px;
            width: 70%;
        }
    }

    .navigation__wrapper_seller {
        display: none;

        @include laptop {
            display: flex;
            margin: 0 0 0 20px;
        }
    }

    .sidebar__button {
        display: flex;
        cursor: pointer;
        margin: 0 0 0 -10px;

        @include laptop {
            display: none;
        }
    }

    .header__line {
        display: none;
        border: none;
        height: 1px;
        width: 90%;
        background: var(--color-black);

        @include laptop {
            display: block;
        }
    }
}

.navigateMenu {
    display: flex;
}
