@import "../../../app/styles/mixins";

.footer {
    display: grid;
    justify-content: center;
    width: 95%;
    height: max-content;
    margin: 0 auto;
    background: var(--color-beet-pink);
    padding: 15px;
    border-radius: 30px 30px 0 0;
    justify-items: center;
    font-size: 10px;

    @include tablets{
        width: 60%;
    }
}
