@import "@app/styles/mixins";

.group__products {
    width: 300px;
    background: var(--color-white-bg);
    border-radius: var(--border-radius-xxl);
    border: 3px solid var(--color-green-primary);
    height: 60vh;
    overflow-x: hidden;
    
    &::-webkit-scrollbar-track{
        background-color: transparent;
        border-radius: 10px;
        height: 90%;
    }

    &::-webkit-scrollbar{
        background-color: transparent;
        width: 3px;
    }   

    &::-webkit-scrollbar-thumb{
        border-radius: 60px;
        background-image: radial-gradient(#0d8d8f, #0fa4a700 60%);
    }

    .group_wrap {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        cursor: pointer;
        height: max-content;
        position: relative;
        padding: 15px;
        
        &:not(:last-child) {
            border-bottom: 1px solid var(--color-gray-light);
        }

        &:last-child {
            border-radius: 0 0 var(--border-radius-xl) var(--border-radius-xl);
        }

        &:hover {
            background: #0fa4a723;
        }

        img {
            width: 30px;
            height: auto;
            object-fit: contain;
        }
    }
}