@import "../../../../app/styles/mixins";

.navigation {
    @include flex-center;
    
    flex-direction: column;
    gap: 10px;
    width: 100%;
    z-index: 99999;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;

    .bar_text{
        font-weight: 600;
    }
}

.navigation:active {
    outline: none;
}

.red_line, .blue_line{
    height: 3px;
    width: 90%;
    border-radius: var(--border-radius-over);
    background-color: var(--color-beet-pink);
    border: none;
}

.blue_line{
    background-color: var(--color-tiffany-blue);
}
