@import "@app/styles/mixins";

.navigation {
    @include flex-center;

    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    width: max-content;
    z-index: 99999;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;

    .bar_text {
        margin: 0 auto 10px;
        width: max-content;
    }

    .link__underline {
        width: 100%;
        margin: 0 auto;
        height: 2px;
        border: none;
        background: var(--color-green-primary);
    }

    &:active {
        outline: none;
    }
}
