@import "@app/styles/normalize";
@import "@app/styles/fonts";
@import "@app/styles/mixins";

.auth_wrapper {
  @include flex-column;
  align-items: center;
  gap: 15px;
  max-width: 350px;
  width: 100%;
  padding: 30px;
  background-color: var(--color-white-bg);
  border-radius: var(--border-radius-xxl);

  .download__link {
    color: var(--color-gray-primary);
    transition: ease-in-out .2s;

    &:hover {
      color: var(--color-black);
    }
  }
}