@import "@app/styles/mixins";

.slider_wrap {
    width: 100%;

    .arrow__back {
        transform: rotate(-180deg);
    }

    .image_wrap {
        max-width: 80vw;
        max-height: 40vh;
        border-radius: var(--border-radius-xl);

        @include tablets {
            width: 400px;
            max-width: 90vw;
            max-height: 40vh;
            object-fit: contain;
        }
    }
}