@import "../../../../app/styles/mixins";

.slider_wrap{
    width: 100%;

    .image_wrap{
        max-width: 80vw;
        max-height: 90vh;

        @include tablets{
            width: 400px;
            max-width: 90vw;
            max-height: 90vh;
        }
    }
}