@import "../../../../app/styles/mixins";

.group_success{
    @include flex-center;
     
    flex-direction:column;
    width: 100%;
    
    @include tablets{
        flex-direction: row;
    }
}

.input_date{
    border-bottom: 1.5px solid var(--color-tiffany-blue);
    padding: 5px 0;
}