.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    gap: 30px;
    cursor: pointer;

    .groups{
        position: absolute;
        z-index: 1000;
    }

    .assort {
        color: var(--color-gray-primary);

        &:hover{
            transition: ease-in-out .3s;
            color: var(--color-black);
        }
    }
}