@import "@app/styles/normalize";
@import "@app/styles/fonts.scss";
@import "@app/styles/globals";
@import "@styles/mixins";

.login_page {
    width: 100vw;
    top:0;
    left:0;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    .login__form__wrapper {
        display: flex;
        position:absolute;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        top: 10vh;
    }

    .animation__wrapper {
        display: none;
        margin-top: auto;

        @include laptop {
            display: block;
        }

        .animation__dot {
            background: var(--color-gray-primary);
            width: 5px;
            height: 5px;
            flex-shrink: 0;
        }
    }
}
