@import "@app/styles/mixins";

.mainLayout {
    position: relative;
    display: grid;
    margin: 0 auto;
    
    // min-height: 100vh;
    .header {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-self: center;
    }

    .content { 
        justify-self: center;
        padding: 20px 0;
        width: 100%;
        min-height: calc(100vh - var(--header-heigth) - var(--footer-heigth));
    }

    .footer {
        width: 100%;
        justify-self: center;
        margin-top: auto;
    }

    .sidebar {
        position: absolute;
        top: var(--header-size);
        left: 0;
        right: 0;
    }
}