.button__favorite {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    .icon__favorite {
        animation: fadeIn 1.6s infinite;
    }
}

.title_favorite {
    width: max-content;
    margin: 0 auto 18px;
    color: var(--color-gray-secondary);
}

.favorite__list__wrapper {
    width: 80vw;

    .favorite__wrapper {
        width: 100%;
    }

    .favorite__name__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        background: var(--color-gray-secondary);
        padding: 10px;
        width: 100%;
    }

    .favorite__name {
        cursor: pointer;
    }

    .favorite__products {
        border-radius: 20px;
        background: var(--color-gray-light);
        padding: 10px;
        width: 100%;
        height: 0;
        transform: scaleY(0);
        transition: ease-in-out .15s;
        
        &.active {
            transform: scaleY(1);
            height: 100%;
        }
    }

    .product__line {
        width: 100%;
    }

    .product__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {
        filter: drop-shadow(0px 0px 6px var(--color-green));
    }

    50% {
        filter: drop-shadow(0px 0px 0px var(--color-green));
    }

    100% {
        filter: drop-shadow(0px 0px 6px var(--color-green));
    }
}