.history_object {
    display: flex;
    cursor: pointer;
    border: 1px solid var(--color-green);
    color: var(--color-green);
    padding: 5px 10px;
    border-radius: 10px;

    &:hover {
        background: var(--color-green-primary);

    }
}