.link__products__wrapper {
    background: var(--color-gray-primary);
    color: var(--color-white-bg);
    width: 100%;
    text-align: center;
    padding: 25px 0;
}

.history__content {
    background: var(--color-gray-secondary);
    min-height: 300px;
    padding: 30px;
    border-radius: 25px;
}