&.color {
    &--inherit {
        color: inherit;
    }

    &--gray-primary {
        color: #757575;
    }

    &--gray-secondary {
        color: #EEE5E9;
    }

    &--gray-light {
        color: #b8b8b8;
    }

    &--violet-primary {
        color: #9b53c8;
    }

    &--violet-secondary {
        color: #7a29ac66;
    }

    &--white-bg {
        color: #fff;
    }

    &--black {
        color: #14151b;
    }

    &--red-primary {
        color: #d69999;
    }

    &--red-secondary {
        color: #e3c1c1ff;
    }

    &--tiffany {
        color: #0FA5A7;
    }

    &--beet {
        color: #9E0348;
    }

    &--beige {
        color: #faecdf;
    }

    &--brown {
        color: #b88867;
    }

    &--green {
        color: #008124;
    }

    &--red {
        color: #A70707;
    }

    &--green-primary {
        color: #AFFC38;
    }

    &--yellow-primary {
        color: #F6FD41;
    }
}
