.primary {
    color: var(--color-gray-primary);
    transition: ease-in-out .3s;

    &:hover {
        color: var(--color-black);
    }
}

.secondary {
    color: var(--color-white-bg);
    transition: ease-in-out .3s;

    &:hover {
        color: var(--color-black);
    }
}
